#cartdata{
    height: 150px;
    width: 20%;
    border: 1px solid black;
}

img{
    height: 100%;
    width: 100%;
}

#total{
    height:40px;
    width: 10%;
    border: 1px solid black;
    margin-left: 80%;
}

#subtotal{
    height:40px;
    width: 10%;
    border: 1px solid black;
    margin-left: 80%;
}