#bluefly{
    height: 50px;
    width: 24%;
    border: 1px solid black;
}

#info{
    height: 35px;
    width: 18%;
    border: 1px solid black;
    display: flex;
}

#information{
    height: 35px;
    width: 35%;
    border: 1px solid black;
    color: grey;
}

#shipping{
    height: 35px;
    width: 25%;
    border: 1px solid black;
    color: grey;
}

#payment{
    height: 35px;
    width: 25%;
    border: 1px solid black;
    color: grey;
}

#icons{
    height: 60px;
    width: 40%;
    border: 1px solid gray;
   margin-top: 20px;
   display: flex; 
}

.icon{
    height: 40px;
    width: 25%;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 10px;
    
}

img{
    width: 100%;
    height: 100%;
}


#contact{
    height: 60px;
    width: 60%;
    border: 1px solid gray;
   margin-top: 20px;
   display: flex; 

}

#con{
    height: 40px;
    width: 25%;
    border: 1px solid black;

    
}


#login{
    height: 40px;
    width: 40%;
    border: 1px solid black;
    margin-left: 50%;
}

#mail{
    height: 40px;
    width: 40%;
    border: 1px solid grey;
}

#tick{
    height: 40px;
    width: 23%;
    border: 1px solid grey;
    display: flex;
}

#tick1{
    height: 20px;
    width: 8%;
    border: 1px solid grey;
    margin-top: 10px;
}

#newsoffer{
    height: 40px;
    width: 80%;
    border: 1px solid grey;
     margin-left: 20%;  
    /* margin-bottom: 20px;  */
}

#ship{
    height: 40px;
    width: 15%;
    border: 1px solid grey;
    margin-top: 20px;
}

#country{
    height: 40px;
    width: 40%;
    border: 1px solid grey;
    margin-top: 20px;
}

#names{
    height: 40px;
    width: 40%;
    border: 1px solid grey;
    display: flex;
    margin-top: 24px;
}


#firstname{
    height: 40px;
    width: 40%;
    border: 1px solid grey;

}

#lastname{
    height: 40px;
    width: 40%;
    border: 1px solid grey;
    margin-left:20%;

}