#one{
    height: 600px;
    width: 50%;
    border: 1px solid black;
}
/* 
image{
    width: 100%;
} */

#two{
  
    height: 600px;
    width: 50%;
    border: 1px solid black;
}


#app{
    display: flex;
    height: 1300px;
    width: 100%;
    border: 1px solid black;
}

.prices{
    height: 50px;
    width: 40%;
    border: 1px solid black;
    margin-left: 40%;
}

.brand{
    height: 90px;
    width: 50%;
    border: 1px solid black;
    margin-left: 40%;
    font-size: 40px;
}

#cart{
    height: 20px;
    width: 30%;
    border: 1px solid black;
    color: white;
    background-color: black;
    text-align: center;
    margin-left: 40%;
    cursor: grab;
}